body{
    background-color: black;
    background-image: linear-gradient(white, black);
}

.record-loop {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.icon-buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#icons {
    height: 50px;
    width: 50px;
}

#jiffy {
    border: 1px solid #555;
}